<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
      <authentication mode="Forms">
        <forms loginUrl="~/Default.aspx" timeout="2880" />
      </authentication>
      <customErrors mode="Off" defaultRedirect="~/Weixin/error/Error.aspx" />
    </system.web>
  <appSettings>
    <!--微信企业号-->
    <add key="CorpToken" value="kRhF1hiQpxb3"></add>
    <add key="CorpId" value="wxba0960da7da41224"></add>
    <add key="EncodingAESKey" value="EXsxZLWrcpqhQ3UeetYFWurQwzmp21biUnCaYNr5XY4"></add>
    <add key="CorpSecret" value="yIYWWoN4wW_5B-fBR5BxHF6zhy5CXvpCNThPCNDvx8U1pnfdvFG9l1GIFWto06VC"></add>
    <!--数据库-->
    <add key="DataSorce" value="242"></add>
    <add key="DataUser" value="CAMS"></add>
    <add key="DataPwd" value="cams"></add>
  </appSettings>
</configuration>
