*{
    padding: 0;
    margin: 0;
}
body{
    margin: 60px;
}
button{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    margin: 10px 0 ;
    padding: 6px 10px;
    color: white;
    border-radius: 5px;
    border: 0 ;
}
.wrapper :first-child{
    background: #2B78BA;
}

.wrapper :nth-child(2){
    background: #F7AD49;
}
.wrapper :nth-child(3){
    
    background: #53A455;
}
.wrapper :last-child {
    
    background: #E65F4E;

}
button:hover{
    box-shadow:7px 9px;
}